<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" >
</head>
<body>
    <div class="top">
        <p>Welcome {{user.first_name}}</p>
        <div class="top_buttons">
          <button class="button"><a href="{% url 'base' %}">Home</a></button>
          <button class="button"><a href="{% url 'profile'%}">View Profile</a></button>
          <button class="button" type="submit"><a href="{% url 'signout' %}">signout</a></button>
        </div>
    </div>

    <p class="heading">Welcome to Profile </p>
    <p class="sub">Enter the details to update and click on Update Profile to update</p>
    <div class="container">
        <form method="post" action="{% url 'update' %}">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <p>
            
                {{ message }}
            </p>
            {% endfor %}
        {% endif %}
        
        <label>Username</label>
        <input type="text" value="{{user.username}}" readonly>
        <label>Email</label>
        <input type="email" value="{{user.email}}" name="email">
        <label>Meter Number</label>
        <input type="number" value="{{user.meternumber}}" readonly>
        <label>First Name</label>
        <input type="text" value="{{user.first_name}}" readonly>
        <label>Last Name</label>
        <input type="text" value="{{user.last_name}}" readonly>
        <label>Division</label>
        <input type="text" value="{{user.address}}" readonly>
        <label>Password</label>
        <input type="password" placeholder="Enter new password" name="newPass">
        <label>Re-enter Password</label>
        <input type="password" placeholder="Re-enter Password" name="finPass">
        <button type="submit">Click here to update profile</button>



        </form>
    </div>

    
</body>
</html>