* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}



.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    background-color: #1c2d5c;
    color:#eef8fe;
    font-size: 30px;


}

.top_buttons{
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.top_buttons >button{
    margin-right: 2%;
    padding: 3%;
    background-color:#eef8fe;
    color:#1c2d5c;
    border-radius: 5px;
    border: none;
    min-width: 80px;

}

.container{
    display:flex;
    flex-direction: column;
    /* padding: 5%; */
    align-items: center;
}

.container >form{

    margin: 5%;
}

.heading{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 3%;
    
}

form >label,input,button{
    margin-bottom: 2%;
    padding: 5px;

}

form> button{
    min-width: 85px;
    background-color: #1c2d5c;
    color: #eef8fe;
    border-radius: 5px;
   

}

.button{
    margin-top: 2%;
    background-color: #bce5ff;
    border: none;
    padding: 10px;
}

a:link{
    text-decoration: none;
}

